@model IEnumerable<HelloMVC.Models.Discussion>

@{
    ViewData["Title"] = "Discussions";
}

<div class="container my-4">
    <!-- Create Discussion Button -->
    <div class="mb-3">
        <a class="btn btn-primary" asp-controller="Discussions" asp-action="Create">
            Create New Discussion
        </a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Thumbnail</th>
                <th>Title</th>
                <th>Comments</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var discussion in Model)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(discussion.ImageFilename))
                        {
                            <img src="~/images/@discussion.ImageFilename" alt="Discussion image" style="max-width:100px;" />
                        }
                        else
                        {
                            <span>No image</span>
                        }
                    </td>
                    <td>
                        <!-- Clicking the title goes to GetDiscussion in HomeController -->
                        <a asp-controller="Home" asp-action="GetDiscussion" asp-route-id="@discussion.DiscussionId">
                            @discussion.Title
                        </a>
                    </td>
                    <td>
                        @(discussion.Comments?.Count() ?? 0)
                    </td>
                    <td>
                        @(discussion.Comments?.Count() ?? 0)
                    </td>
                    <td>
                        @discussion.CreateDate.ToString("g")
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
