@model IEnumerable<HelloMVC.Models.Discussion>

@{
    ViewData["Title"] = "Discussions";
}

<div class="container my-4">
    <!-- Create Discussion Button -->
    <div class="mb-3">
        <a class="btn btn-primary" asp-controller="Discussions" asp-action="Create">
            Create New Discussion
        </a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Thumbnail</th>
                <th>Title</th>
                <th>Comments</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var discussion in Model)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(discussion.ImageFilename))
                        {
                            <img src="~/images/@discussion.ImageFilename" alt="Discussion image" style="max-width:100px;" />
                        }
                        else
                        {
                            <span>No image</span>
                        }
                    </td>
                    <td>
                        <!-- Clicking the title goes to GetDiscussion in HomeController -->
                        <a asp-controller="Home" asp-action="GetDiscussion" asp-route-id="@discussion.DiscussionId">
                            @discussion.Title
                        </a>
                    </td>
                    <td>
                        <!-- Comment icon (using inline SVG) with count -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-text" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H4.414l-3 3V2a1 1 0 0 1 1-1h11z" />
                            <path d="M4 3.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1H4z" />
                            <path d="M4 6a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1H4z" />
                        </svg>
                        @(discussion.Comments?.Count() ?? 0)
                    </td>
                    <td>
                        @discussion.CreateDate.ToString("g")
                    </td>
                    <td>
                        <!-- Inline Edit and Delete links with SVG icons -->
                        <a class="btn btn-link p-0" asp-controller="Discussions" asp-action="Edit" asp-route-id="@discussion.DiscussionId">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.854a.5.5 0 0 1 .708 0l2.292 2.292a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2L2 11.207V13h1.793L14 3.793 11.207 2z" />
                            </svg>
                        </a>
                        <span> | </span>
                        <a class="btn btn-link p-0" asp-controller="Discussions" asp-action="Delete" asp-route-id="@discussion.DiscussionId">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm3.354-9.646a.5.5 0 0 1 0 .708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 1 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708L8 7.293l2.646-2.647a.5.5 0 0 1 .708 0z" />
                            </svg>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
